<body>
  <%- include('header.ejs') %>

  <h1 class="createpost">팔로잉 조회</h1>
  <div class="my-following-container">
    <% users.forEach((user) => { %>
    <div class="my-following">
      <div class="id">유저아이디: <%= user.id %></div>
      <div class="email">이메일: <%= user.email %></div>
    </div>
    <% }); %>
  </div>
</body>

