<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparpet</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/8bc9e38e4e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a href="/posts" class="logo">Sparpet</a>

        <div class="search">
            <button class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="search_input" type="text" placeholder="게시글 검색하기">
        </div>

        <a href="/sign-in" class="sign_in">로그인</a>
        <a href="" class="sign_up">회원가입</a>
    </div>

</body>
</html>