button {
  cursor: pointer;
}

.header {
  width: auto;
  height: 80px;
  margin-top: 30px;
}

/** 추가 **/

body {
  height: 100vh;
  width: 100vh;
  display: inline;
}
.detail_post {
  margin: 0 auto;
  display: grid;
  width: 70%;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 1fr 2fr 8fr 2fr;
  grid-template-areas:
    'preview'
    'content'
    'file'
    'comment';
  border: 1px solid black;
}

.detail_preview {
  grid-area: preview;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.detail_title {
  font: bold;
  font-size: 40px;
  display: flext;
  justify-content: flex-end;
}

.detail_small {
  display: flex;
  justify-content: space-between;
}

.detail_createdAt {
  margin-right: 10px;
}

.detail_small2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.detail_countlike {
  margin-right: 10px;
}

.detail_file {
  grid-area: file;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.detail_file > img,
video {
  display: flex;
  margin-bottom: 20px;
}

.detail_file > video {
  width: 70%;
  height: auto;
}

.detail_content {
  grid-area: content;
  border: 1px solid black;
}

.detail_comments {
  grid-area: comment;
  border: 1px solid black;
}

.comments {
  display: flex;
  margin-bottom: 5px;
  border: 1px solid black;
}

.comment {
  flex: 6;
}

.form-box {
  margin-left: 10px;
}

.comment-btn {
  flex: 4;
  display: flex;
  margin: 3px;
  justify-content: flex-end;
}

.newcomment {
  display: flex;
  justify-content: center;
}
